RewriteEngine On
ErrorDocument 404 /~s373327/theosk/404.html

RewriteRule ^$ index.html [QSA,L]

RewriteRule ^(?:catalog/(?:[^/]+/)?)?(styles|scripts|Assets|DesignEkran)/(.*)$ $1/$2 [L]
RewriteRule ^(?:catalog/(?:[^/]+/)?)?api/(.*)$ api/$1 [L]

RewriteRule ^(catalog|favorites|cart|product|special-order|about)$ /~s373327/theosk/$1/ [R=302,L]
RewriteRule ^catalog/([^/]+)$ /~s373327/theosk/catalog/$1/ [R=302,L]

RewriteCond %{THE_REQUEST} \s/+[^\s]*/pages/catalog\.html[?\s]
RewriteRule ^pages/catalog\.html$ /~s373327/theosk/catalog/ [R=302,L,QSA]
RewriteCond %{THE_REQUEST} \s/+[^\s]*/pages/favorites\.html[?\s]
RewriteRule ^pages/favorites\.html$ /~s373327/theosk/favorites/ [R=302,L,QSA]
RewriteCond %{THE_REQUEST} \s/+[^\s]*/pages/cart\.html[?\s]
RewriteRule ^pages/cart\.html$ /~s373327/theosk/cart/ [R=302,L,QSA]
RewriteCond %{THE_REQUEST} \s/+[^\s]*/pages/product\.html[?\s]
RewriteRule ^pages/product\.html$ /~s373327/theosk/product/ [R=302,L,QSA]
RewriteCond %{THE_REQUEST} \s/+[^\s]*/pages/specialOrder\.html[?\s]
RewriteRule ^pages/specialOrder\.html$ /~s373327/theosk/special-order/ [R=302,L,QSA]
RewriteCond %{THE_REQUEST} \s/+[^\s]*/pages/about\.html[?\s]
RewriteRule ^pages/about\.html$ /~s373327/theosk/about/ [R=302,L,QSA]

RewriteRule ^404\.html$ 404.html [QSA,L]
RewriteRule ^catalog/$ pages/catalog.html [QSA,L]
RewriteRule ^catalog/([^/]+)/$ pages/product.html?slug=$1 [QSA,L]
RewriteRule ^favorites/$ pages/favorites.html [QSA,L]
RewriteRule ^cart/$ pages/cart.html [QSA,L]
RewriteRule ^product/$ pages/product.html [QSA,L]
RewriteRule ^special-order/$ pages/specialOrder.html [QSA,L]
RewriteRule ^about/$ pages/about.html [QSA,L]
